<h2>Edit Comment</h2>

<form action="/comments/<%= @comment.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="put">

  <label for="comment[text_body]">Body:</label>
  <input name="comment[text_body]" value="<%= @comment.text_body %>">

  <label for="comment[author]">Author:</label>
  <input name="comment[author]" value="<%= @comment.author %>">

  <label for="comment[date_created]">Date Created</label>
  <input name="comment[date_created]" value="<%= @comment.date_created %>">

  <label for="comment[video_id]">Video ID:</label>
  <input name="comment[video_id]" value="<%= @comment.video_id %>">

  <input type="submit" value="Create">
</form>

<form action="/comments/<%= @comment.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>
