<h2>brodKast Videos <a href ="/videos/new">(+)</a></h2>
<ul>
    <% @videos.each do |video| %>
    <li class="display">
        <a href ="/videos/<%= video.id %>">
          Subject: <%= video.subject%><br>
            Author:<%= video.author%><br>
              Date:<%= video.date_created%><br>
                Likes:<%= video.likes%><br>
                URL:<%= video.link_url%><br>
     <iframe width="560" height="315" src="<%=video.link_url%>" frameborder="0" allowfullscreen></iframe>
      </a>
    </li><br>
    <br><br><br>
    <% end %>
</ul>
