<br>
<div class ="searchbox">
<%= form_tag(videos_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Videos" %>
<%= submit_tag "Search" %>
<% end %>
</div>

<!-- <h2>brodKast Videos <a href ="/videos/new">(+)</a></h2> -->
<ul>
    <% @videos.each do |video| %>

    <li class="display">
        <a href ="/videos/<%= video.id %>">
      <iframe width="360" height="215" src="<%=video.link_url%>" frameborder="0" allowfullscreen></iframe><br>
          Subject: <%= video.subject%><br>
            Author:<%= video.author%><br>
              Date:<%= video.date_created%><br>
                Likes:<%= video.votes_for.size%><br>
                <!-- Likes:<%= video.likes%><br> -->
                <!-- <h4><%= video.votes_for.size %></h4> -->
        </a>
      <br><br><hr>
    </li>
    <% end %>
</ul
