<h2>brodKast Videos <a href ="/videos/new">(+)</a></h2>
<ul>
    <% @videos.each do |video1| %>
    <li class="display">
        <a href ="/videos/<%= video1.id %>">
          Subject: <%= video1.subject%><br>
            Author:<%= video1.author%><br>
              Date:<%= video1.date_created%><br>
                Likes:<%= video1.likes%><br>
                URL:<%= video1.link_url%><br>
                </a>
    </li><br>
    <br><br><br>
    <% end %>
</ul>
