<br><br>
<li class="display">

 Subject: <%= @video.subject %> <br>
 Author: <%= @video.author %><br>
 Date: <%= @video.date_created %><br>
 Likes: <%= @video.votes_for.size %><br>
<%= link_to image_tag("Like.png"), like_video_path(@video),  method: :put %><br>

<%= "#{@video.impressionist_count} views so far!" %>

  <a class="links" href="/videos/<%= @video.id %>/edit">[Edit Video Post]<br><br></a>

<iframe width="550" height="315" class='artist-photo' src="<%= @video.link_url %>"></iframe>
<!-- <h4><%= @video.link_url %></h4> -->
<!-- <h4>Likes:<%= @video.likes %></h4> -->

<h3>Add Comments <%= link_to "(+)", new_video_comment_path(@video) %></h3>

  <% @video.comments.each do |comment| %>

      <%= link_to "#{comment.text_body} (#{comment.author})", video_comment_path(@video, comment) %>
<br>
  <% end %>

</li>
