<!DOCTYPE html>
<html>
<head>
  <title>Brodkast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- <img width="100" height="100" src="http://cliparts.co/cliparts/gTe/ozo/gTeozoEnc.jpg"/> -->
</head>

<body>
  <% if current_user %>
    <h3><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></h3>
  <% else %>
    <h3><%= link_to 'Signup', new_user_registration_path %></h3>
    <h3><%= link_to 'Login', new_user_session_path %></h3>
  <% end %>
  <ul>
    <li><a href="/videos">Videos</a></li>
    <li><a href="/comments">Comments</a></li>
    <li><a href ="/videos/new">Post Video(+)</a></li>

  </ul>

<%= yield %>

</body>
</html>
